.backgroundTheme {
  /* The image used */
  background-image: url("../../contents/images/main.jpg");
  flex: 1;
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
